<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="userDao" class="com.softwisdom.ideacatcher.dao.impl.UserDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="userService" class="com.softwisdom.ideacatcher.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"></property>
    </bean>

    <bean id="ideaDao" class="com.softwisdom.ideacatcher.dao.impl.IdeaDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="ideaService" class="com.softwisdom.ideacatcher.service.impl.IdeaServiceImpl">
        <property name="ideaDao" ref="ideaDao"></property>
    </bean>

</beans>